@mixin ParrafoStyle ($hovernav) {
    font-family:'Square Peg', cursive;;
    font-weight:bold ;
    color: $hovernav;
}

@mixin H2Style ($padding) { 
    font-family:$texto1;
    color: black;
    font-weight: bold;
    padding: $padding
}