footer{
    background-color: black;

    img{
        height: 64px;
        padding: 5px;
    }
    
    div{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 98px;
    
    }
 
}